<!DOCTYPE html>
<html>
  <head>
    <title>signin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>signin</h1>
    <form action="/api/login" method="post">
		<div class = "form- group">
			<label>id</label>
			<input type = "text" class = "form-control" name="username">
		</div>	
		<div class = "form-group">
			<label>PW</label>
			<input type="password" class="form-control" name="password">
		</div>
		<button type="submit">
			signin
		</button>
	</form>
  </body>
</html>
